// 富文本居中
.ql-align-center {
  text-align: center;
}
// 富文本右对齐
.ql-align-right {
  text-align: right;
}
// 缩进 1-8
.ql-indent-1 {
  text-indent: 1em;
}
.ql-indent-2 {
  text-indent: 2em;
}
.ql-indent-3 {
  text-indent: 3em;
}
.ql-indent-4 {
  text-indent: 4em;
}
.ql-indent-5 {
  text-indent: 5em;
}
.ql-indent-6 {
  text-indent: 6em;
}
.ql-indent-7 {
  text-indent: 7em;
}
.ql-indent-8 {
  text-indent: 8em;
}
